/* webline.css -- nice style for author, validation, and testing line
 *
 * Chris Meyers
 */

@media screen and (min-width: 700px){
    table#webline {
        width: 100%;
        color: #3f1a0a;
        background: #dfdbc3;
        border: 1px solid #3f1a0a;
        border-collapse: collapse;
    }

    table#webline tr {
        text-align: center;
        margin: 0px;
        padding: 0px;
        border: 1px solid #3f1a0a;
    }

    table#webline tr td {
        border:  1px solid #3f1a0a;
        margin: 0px;
        padding: 0px;
    }

    table#webline tr td a {
        text-decoration: none;
        margin: 0px;
        padding: 0px;
    }

    table#webline tr td a:hover {
        text-decoration: underline;
    }

    table#webline tr td img {
        vertical-align:middle;
        border:none;
        margin: 0px;
        padding: 0px;
    }
    
    td.force-col{
        width: 65%;
    }
    
    .self-image{
        height: 360px;
        width: 354px;
    }
}
